.email {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
h1 {
    text-align: center;
    line-height: 70px;
    background-color: rgb(136, 136, 139);
    /* width: 100%; */
    /* height: 70px; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 5px;
}
.img {
    display: inline;
    width: 100px;
}
img {
    width: 200px;
}
h2{
    color: beige;
}
.gmail:nth-child(1) h1{
    width: 200px;
    height: 150px;
}
.gmail:nth-child(2) h1 {
    width: 200px;
    height: 150px;

}
.gmail:nth-child(1) img {
    width: 200px;
    height: 150px;

}
