.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding: 15px 50px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
}
.menu {
    display: flex;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}
.search-button {
    background-color: #9B9DA2;
    color: white;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}