body {
    background-color: #fcecd4;
    padding: 20px;
    width: 900px;
    height: 900px;
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.content {
    width: 450px;
    padding-inline: 200px;
}

h1 {
    font-size: 32px;
    color: #232323;
}

h1 span {
    color: #232323;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3b3b;
}

/* Profile Image */
.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}
